---
layout: about
title: About
permalink: /about/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
        {% for member in site.members %}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/member/Brad1.jpg" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->		
            </div><!-- he wrap -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->	 	
        {% endfor %}
            </br>    
        </div>
        <div class="col-lg-6">
            <h4>About Me</h4>
            <p>I’m an undergraduate at UWE (University of the West of England) Bristol studying a Games Technology degree with the ambition of becoming a fully-fledged games developer myself. Currently I’m working my way through my second year. </p>
            <p>I wouldn’t be studying this degree without a passion for all things gaming, unique and immersive games are what appeal to me and what drives me forwards is the hope of someday helping create a game that makes people just stop and say “Wow”.</p>
           
            <p><br/><a href="{{ "/contact/" | prepend: site.baseurl }}" class="btn btn-theme">Contact Me</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
