<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>My Portfolio</h3>
                <h1>Brad Moss.</h1>
                <h5>Welcome to my portfolio and general dev diary ramblings about various projects.</h5>
                <h5>If anything you see or read interests you, contact me.</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "assets/img/control.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
